/*
Sophie Stiekema,
10992499,
*/

body {
  padding-left: 20px;
  background-color: white;

}
/*--- navigation bar ---*/
.nav {
    height: 40px;
}
.navbar-brand {
    /* padding:10px; */
    color: lightblue;
    font-size: 2em !important;
    font-family: 'Cabin';
    float: left;
    margin: 10px 15px 15px 10px;

}

.nav a{
    color: white !important;
    font-size: 2em !important;
    font-family: 'Cabin';
    }
.nav a:active{
    background-color: red;
    }
/* .nav li:active{

} */
.navbar {
   margin-left: -20px;
   background:#00491b !important;
}


.dropdown#dropdownbutton {
    visibility:hidden;
}

.figure {
    margin-left: auto;
    margin-right: auto;
}
.figure#container {
    top:-66px;
    display: block;
}

/* .figure#piechart {
    vertical-align: top;
}*/

/* .figure#barchart {
    padding-top:100px;
} */
#Year {
    position: relative;
}
.datamaps-subunit {
    opacity: 1;
}
.datamaps-subunit:hover {
    opacity: 0.7;
}

.arc {
    opacity: 1;
}
.arc:hover {
    opacity: 0.7;
}

.bar {
    opacity: 1;
}
.bar:hover {
    opacity: 0.7;
}

#gradientlegend {
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

  .d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 4px;
    font-size: 20px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    display: inline;
    font-size: 10px;
    line-height: 1;
    color: rgb(0, 0, 0);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips specifically */
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }

  /* Dropdown Button */
 .dropbtn {
   background-color: #2471A3;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
 }

 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }

 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #D6EAF8;
   min-width: 160px;
   box-shadow: 0 8px 16px 0 rgb(0,0,0);
   z-index: 1;
 }

 /* Links inside the dropdown */
 .dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color: #D5F5E3;}

 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {display: block;}
