/*
Sophie Stiekema,
10992499,
*/
/*--- General ---*/
body {
  padding-left: 20px;
}
.page#graphs {
    background: linear-gradient(powderblue, MediumSeaGreen);
}
.page#about {
    background: linear-gradient(powderblue, MediumSeaGreen) fixed;
}

/*--- Navigation bar ---*/
.nav {
    height: 40px;
}
.navbar-brand {
    color: #E4FFE4;
    font-size: 2em;
    font-family: 'Cabin';
    float: left;
    margin: 25px 15px 0 10px;
}
.nav a{
    color: white !important;
    font-size: 2em;
    font-family: 'Cabin';
    }
.nav a:active{
    background-color: red;
    }
.navbar {
   margin-left: -20px;
   background:#073983;
}

/*--- Text styling ---*/
.header {
    color: #e6fceb;
    text-shadow: 3px 4px #073983;
}
.title {
    text-shadow: 3px 3px #073983;
}
.text-intro {
    margin-top: 20px;
    margin-right: 20px;
    color: azure;
    font-family: Georgia;
    font-size: 18px;
}
.data-text {
    margin-right: 20px;
    font-size: 15px;
    font-family: Georgia;
    line-height:1.5;
}

/*--- Figure positioning ---*/
.figure {
    margin-left: auto;
    margin-right: auto;
}
.figure#container {
    /* top:-66px; */
    /* display: block; */
}

/*--- Button styling ---*/
.button#Year {
    position: relative;
    width: 10%;
    background-color: #e6fceb;
    color: black;
    border: 2px solid #073983;
}
.button#sortbutton {
    visibility:hidden;
    position: relative;
    width: 10%;
    background-color: #e6fceb;
    color: MidnightBlue;
    border: 2px solid #073983;
}

/*--- Datamap styling ---*/
.hoverinfo{
    font-family: 'Helvetica', 'Arial', sans-serif;
     color: #073983;
}
.datamaps-subunit {
    opacity: 1;
}
.datamaps-subunit:hover {
    opacity: 0.7;
}
.d3-tip {
    line-height: 1;
    padding: 6px;
    background: #e6fceb;
    color: #073983;
    border-radius: 4px;
    font-size: 20px;
  }
.d3-tip:after {
    display: inline;
    font-size: 10px;
    line-height: 1;
    color: #e6fceb;
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }
#gradientlegend {
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*--- Graph hover styling ---*/
.arc {
    opacity: 1;
}
.arc:hover {
    opacity: 0.7;
}
.bar {
    opacity: 1;
}
.bar:hover {
    opacity: 0.7;
}

/*--- Barchart styling ---*/
.axis line{
  stroke: LightCyan;
}
.axis path{
  stroke: LightCyan;
}
.axis text{
  fill: #e6fceb;
}
